<div class="container">
    <h2>Add a New Patient</h2>
</div>
<div style="position:fixed;left:4cm" class="form-inline" ng-controller="PatientNewCtrl">
    <table>
        <tr>
            <th>Patient ID</th>
            <td>
                <input class="form-control" type="text" ng-model="patient.ID" ng-pattern="id" required>
            </td>
        </tr>
        <tr>
            <th>First Name</th>
            <td>
                <input class="form-control" type="text" ng-model="patient.first_name" ng-pattern="fn" required>
            </td>
        </tr>
        <tr>
            <th>Last Name</th>
            <td>
                <input class="form-control" type="text" ng-model="patient.last_name" ng-pattern="ln" required />
            </td>
        </tr>                         
        <tr>
            <th>Age</th>
            <td>
                <input class="form-control" type="text" ng-model="patient.age" ng-pattern="age" required>
            </td>
        </tr>
        <tr>
            <th>Family Doctor</th>
            <td>
                <select class="form-control" ng-options="doctor.ID as doctor.first_name + ' ' + doctor.last_name for doctor in doctorList" ng-model="patient.family_doctor_ID" required></select>
            </td>
        </tr>
        <!--
        <tr>
            <th>Family Doctor ID</th>
            <td>
                <input class="form-control" type="text" ng-model="patient.family_doctor_ID" ng-pattern="pn" required>
            </td>
        </tr>
        -->
        <tr>
            <th>Created Date</th>
            <td>
                <input class="form-control" type="text" ng-model="patient.created_at" ng-pattern="pn" disabled>
            </td>
        </tr>
        <tr>
            <th>Last Modified Date&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <td>
                <input class="form-control" type="text" ng-model="patient.last_modified" ng-pattern="pn" disabled>
            </td>
        </tr>
    </table>
    <br />
    <br />
    <div>
        <input class="btn btn-primary" ng-click="saveNew()" type="button" value="Save">
    </div>
</div>