<div class="container">
    <h1>Patient List <input class="btn btn-primary" type="button" name="newPatient" value="New" ng-click="newPatient()"/></h1>
    <table class="table table-striped">
        <thead>
            <tr class="success">
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Family Doctor ID</th>
                <th>Action</th>                
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="patient in patientList">
                <td>{{patient.ID}}</td>
                <td>{{patient.first_name}}</td>
                <td>{{patient.last_name}}</td>
                <td>{{patient.family_doctor_ID}}</td>
                <td>
                    <input class="btn btn-danger" type="button" name="removePatient" value="Delete" ng-click="removePatient(patient.ID)" />
                    <button class="btn btn-warning" onclick="location.href = '#PatientEdit'">Edit</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>