<div class="container">
    <h2>Patient List <small>Search Result</small>&nbsp;&nbsp;<a class="btn btn-primary" type="button" name="newPatient" href="#PatientNew">New</a></h2>
    <table class="table table-striped">
        <thead>
            <tr class="success">
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Family Doctor</th>
                <th>Created Date</th>
                <th>Last Modified Date</th>
                <th>Action</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="patient in patientList | filter:query | orderBy:'ID' | pagination: curPage * pageSize | limitTo: pageSize">
                <td>{{patient.ID}}</td>
                <td>{{patient.first_name}}</td>
                <td>{{patient.last_name}}</td>
                <td>
                    <select style="width:auto" class="form-control" ng-options="doctor.ID as doctor.first_name + ' ' + doctor.last_name for doctor in doctorList" ng-model="patient.family_doctor_ID" disabled></select>
                </td>
                <td>{{patient.created_at}}</td>
                <td>{{patient.last_modified}}</td>
                <td>
                    <input class="btn btn-danger" type="button" name="removePatient" value="Delete" ng-click="removePatient(patient.ID)" />
                    <a class="btn btn-warning" type="button" name="editPatient" href="#PatientEdit/{{patient.ID}}">&nbsp;&nbsp;Edit&nbsp;&nbsp;</a>
                </td>
            </tr>
        </tbody>
    </table>
    <div ng-show="patientList.length">

        <button class="btn-primary" type="button" ng-disabled="curPage == 0"
                ng-click="curPage=curPage-1">
            PREV
        </button>

        <!--<span ng-repeat="page in pages"></span>-->
        <span>Page {{curPage + 1}} of {{ numberOfPages() }}</span>

        <button class="btn-primary" type="button"
                ng-disabled="curPage >= patientList.length/pageSize - 1"
                ng-click="curPage = curPage+1">
            NEXT
        </button>

    </div>
</div>
